@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './colors.css';

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--c-bg-primary);
  color: var(--c-text-primary);
  font-size: 15px;
}

svg path:last-child {
}
