@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './colors.css';
@import './spinner.css';
body {
  font-family: 'Inter', sans-serif;
  color: var(--c-text-primary);
}

svg path:last-child {
}

.liked svg {
  fill: rgb(224, 36, 94);
  color: rgb(224, 36, 94);
}

.description-truncate {
  line-height: 1.5rem;
  max-height: 6rem;
  overflow: hidden !important;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
}

.s-container {
  max-width: 1032px;
}
