@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './colors.css';
@import './spinner.css';
body {
  font-family: 'Inter', sans-serif;
  color: var(--c-text-primary);
  font-size: 15px;
}

svg path:last-child {
}

.liked svg {
  fill: rgb(224, 36, 94);
  color: rgb(224, 36, 94);
}
