.pagination {
  @apply flex items-center;
}

.pagination li {
  @apply py-1 px-5 text-xl relative select-none;
}
.pagination li::after {
  position: absolute;
  left: calc(50% - 8px);
  bottom: -0.4rem;
  display: block;
  width: 16px;
  border-bottom: 3px solid #000;
  border-radius: 3px;
  content: '';
  opacity: 0;
}
.pagination .next,
.pagination .previous {
  @apply text-base;
}
.pagination .disabled {
  @apply hidden;
}

.pagination .active {
  color: var(--c-primary);
}

.pagination .active::after {
  opacity: 1;
  position: absolute;
  left: calc(50% - 8px);
  bottom: -0.4rem;
  display: block;
  width: 16px;
  border-bottom: 3px solid var(--c-primary);
  border-radius: 3px;
  content: '';
}
