.s-logo {
}

.s-logo--main {
  font-size: 24px;
  font-family: var(--f-family-secondary);
  font-weight: var(--f-weight-bold);
}

.s-header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--bg-primary);
}

.s-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
