.button {
  @apply px-5 py-2 font-bold rounded-full  text-sm 
  focus:outline-none;
}

.button:disabled {
  @apply bg-opacity-30 !important cursor-not-allowed;
}

.primary {
  background-color: var(--c-primary);
  color: var(--c-text-white);
}

.primary:hover {
  background-color: var(--c-primary-hover);
}

.secondary {
  @apply text-gray-700 bg-gray-100 hover:bg-gray-200;
}

.outline {
}

.icon {
  @apply p-1;
}
