.button {
  @apply px-5 py-2 font-bold rounded-full  text-sm 
  focus:outline-none;
}

.button:disabled {
  @apply cursor-not-allowed opacity-50;
}

.primary {
  background-color: var(--c-primary);
  color: var(--c-text-white);
}

.primary:hover {
  background-color: var(--c-primary-hover);
}

.subtle {
  padding-left: 0 !important ;
  padding-right: 0 !important;
}

.secondary {
  @apply text-gray-700 bg-gray-100 hover:bg-gray-200;
}

.outline {
}

.icon {
  @apply p-1;
}

.full {
  @apply w-full;
}
