.btn {
    display: inline-flex;
    justify-content: center;
    padding: 9px 13px;
    border-radius: 4px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    color: $c-dark;

    &--default {
        padding-left: 0;
        padding-right: 0;
    }

    &--primary {
        background-color: $c-primary;
        color: $c-text-white;
    }

    &--dark {
        background-color: $c-dark-light;
        color: $c-text-white;
    }

    &--white {
        background-color: $c-white;
        color: $c-text-primary;
    }

    &--outline {
        border: 1px solid $c-dark;
    }

    &-group {
        display: flex;
        align-items: center;

        .btn:first-child {
            margin-right: 10px;
        }
    }
}
