.banner {
    background-color: #ebeef1;
    border-radius: 4px;
    margin-bottom: 40px;


    &__container {
        padding: 16px;
    }

    &__title {
        font-size: 17px;
        font-weight: 700;
        font-family: 'PT Serif', serif;
    }

    &__description {
        margin-top: 10px;
        line-height: 1.5;
        // color: $c-text-secondary;
        font-size: 14px;
    }

    &__footer {
        margin-top: 16px;
    }
    &--red {
        background-color: $c-red;
    }

    &--blue {
        background-color: $c-primary-light;
    }

    &--yellow {
        background-color: $c-yellow-light;
    }

}