.banner {
    // background-color: #f0f0f0;
    // background-color: #F0FAF1;
    border-radius: 8px;
    margin-bottom: 40px;
    // border: 1px solid #d5ecd8;
    background-color: #f3f4f5;
    border: 1px solid #dee3e8;


    &__container {
        padding: 16px;
    }

    &__title {
        font-size: 18px;
        font-weight: 800;
        font-family: $f-family-secondary;
    }

    &__description {
        margin-top: 10px;
        line-height: 1.5;
        // color: $c-text-secondary;
        font-size: 14px;
    }

    &__footer {
        margin-top: 16px;
    }
    &--red {
        background-color: $c-red;
    }

    &--blue {
        background-color: $c-primary-light;
    }

    &--yellow {
        background-color: $c-yellow-light;
    }

}