.banner {
    background-color: #ebeef1;
    border-radius: 4px;
    margin-bottom: 40px;


    &__container {
        padding: 16px;
    }

    &__title {
        font-weight: 500;
        font-size: 17px;
        
    }

    &__description {
        margin-top: 8px;
        line-height: 1.5;
        // color: $c-text-secondary;
        font-size: 14px;
    }

    &__footer {
        margin-top: 20px;
    }
    &--red {
        background-color: $c-red;
    }
    &--red, &--blue {
        .banner {
            &__title {
                color: $c-text-white;
            }

            &__description {
                color: $c-text-white-light;
            }
        }
    }

    &--blue {
        background-color: $c-primary;
    }

    &--yellow {
        background-color: $c-yellow;
    }
}