.header {
    &__container {
        width: 100%;
        height: 100vh;
        top: 00;
        position: sticky;
        padding-top: 20px;
    }

    nav {
        padding-top: 30px;
    }

    &__items {
        margin-bottom: 24px;
    }

    &__item {
        padding: 8px 12px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        

        &--icon {
            margin-right: 4px;
            color:$c-text-secondary;
            
            svg {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &--text {
            font-weight: 500;
        }

        &--active {
            // color: white;
            background-color: $c-primary-light;

            svg {
                // color: white !important;
            }
        }
    }
}

svg {
    path {
        &:nth-child(2) {
            fill: currentColor;
        }
    }
}