.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 12px;
    svg {
        width: 100%;
        height: auto;
    }
}