.posts {
    &__container {
        display: grid;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--text {
            font-weight: 500;
            font-size: 17px;
        }
    }

}


.post {
    width: 100%;
    padding-top: 38px;
    padding-bottom: 38px;
    border-bottom: $border;
    cursor: pointer;

    &__link {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__container {
        display: grid;
        grid-template-columns: 1.6fr 1fr;
        grid-column-gap: 50px;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        font-family: 'PT Serif', serif;
    }    

    &__description {
        margin-top: 12px;
        color: $c-text-secondary;
        line-height: 1.5;
    }

    &__cover {
        display: flex;
        width: 100%;
        height: auto;
        background-color: #f0f0f0!important;
        img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            box-shadow: $shadow;
        }
    }

}