:root {
  --f-family-primary: "Inter", sans-serif;
  --f-family-secondary: "Zilla Slab", serif;

  --f-weight-thin: 300;
  --f-weight-normal: 400;
  --f-weight-medium: 500;
  --f-weight-semibold: 600;
  --f-weight-bold: 700;

  --border-primary: 1px solid var(--c-border-primary);

  --radius-primary: 16px;

  --c-text-primary: #111;
  --c-text-secondary: #484848;
  --c-border-primary: #e4e6eb;

  --c-white: #fff;

  --bg-primary: #f7f7f8;
  --bg-primary-light: #ffff;
  --bg-primary-light-hover: #fdfdfd;
  --bg-blue: #0079d3;
}
