.t-headline-10 {
  font-size: 42px;
  font-weight: 500;
}

.t-headline-20 {
  font-size: 32px;
  font-weight: 500;
}

.t-title-10 {
  font-size: 24px;
  font-weight: 700;
}

.t-title-20 {
  font-size: 20px;
  font-weight: 700;
}

.t-title-30 {
  font-size: 18px;
  font-weight: 500;
}

.t-title-40 {
  font-size: 15px;
  font-weight: 500;
}

.t-paragraph-10 {
  font-size: 18px;
}

.t-paragraph-20 {
  font-size: 15px;
}

.t-caption-10 {
  font-size: 14px;
  font-weight: 500;
}

.t-caption-20 {
  font-size: 12px;
  font-weight: 500;
}

.f-weight-normal {
  font-weight: 400;
}

.f-weight-medium {
  font-weight: 500;
}

.f-weight-semibold {
  font-weight: 600;
}

.f-weight-bold {
  font-weight: 700;
}

.t-color-primary {
  color: var(--c-text-primary);
}

.t-color-secondary {
  color: var(--c-text-secondary);
}

.p-default {
  padding: 18px 22px;
}
