.t-headline-10 {
  font-size: 42px;
  font-weight: 500;
}

.t-headline-20 {
  font-size: 32px;
  font-weight: 500;
}

.t-title-10 {
  font-size: 24px;
  font-weight: 700;
}

.t-title-20 {
  font-size: 20px;
  font-weight: 700;
}

.t-title-30 {
  font-size: 18px;
  font-weight: 700;
}

.t-caption-10 {
  font-size: 14px;
  font-weight: 500;
}

.t-caption-20 {
  font-size: 12px;
  font-weight: 500;
}

.f-weight-bold {
  font-weight: 700;
}

.t-color-primary {
  color: var(--c-text-primary);
}

.t-color-secondary {
  color: var(--c-text-secondary);
}
