.s-logo {
}

.s-logo--main {
  font-size: 22px;
  font-family: var(--f-family-secondary);
  font-weight: var(--f-weight-bold);
}

.s-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border-primary);
  background-color: var(--bg-primary-light);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
}

.s-header__logo {
  margin-right: 40px;
}

.s-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.s-header__items {
  display: flex;
  align-items: center;
  height: 100%;
}

.s-header__item {
  font-weight: var(--f-weight-medium);
  display: flex;
  align-items: center;
  margin-right: 40px;
  height: 100%;
}

.s-header__item--link {
  display: flex;
  align-items: center;
}

.s-header__item .s-link {
  height: 100%;
  border-bottom: 2px solid transparent;
}

.s-header__item .s-link--active {
  border-color: #0f1419;
}

.s-header__item--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #0f1419;
}

.s-header__item--title {
  font-size: 15px;
  margin-left: 5px;
}
