.s-post {
  background-color: var(--bg-primary-light);
  padding: 18px 22px;
  border: var(--border-primary);
  cursor: pointer;
  transition: background-color 300ms;
  border-radius: 6px;
  overflow: hidden;
}

.s-post:hover {
  background-color: var(--bg-primary-light-hover);
}

.s-post__cover {
  width: 100%;
  margin-top: 16px;
}

.s-post__cover img {
  width: 100%;
  border-radius: var(--radius-primary);
}

.s-post__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  font-weight: 700;
}

.s-post__meta {
  display: flex;
  align-items: center;
}

.s-post__author {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.s-post__author--name {
  margin-left: 6px;
}

.s-post__author--avatar {
  border-radius: 9999px;
  width: 22px;
  height: 22px;
}

.s-post__author--avatar img {
  width: 100%;
  border-radius: 9999px;
}

.s-post__title {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--f-family-secondary);
  line-height: 26px;
  margin-bottom: 8px;
}
