.s-posts {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.s-posts__header {
  background-color: var(--bg-primary-light);
  padding: 18px 22px;
  border: var(--border-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  overflow: hidden;
}

.s-posts__title {
  font-size: 18px;
  font-weight: 500;
}
