.modal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 340px;
    height: 200px;
    z-index: 9999;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid var(--c-border);
}
